<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Commercebox Dashboard</title>
    <link href="../../../public/css/semantic/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="../../../public/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body id="mainWindow">
    <!-- Start header for the application -->
    <header>
        <div class="ui stackable menu inverted" style="background: #000;">
            <div class="item">
                Logo
                <!-- <img src="/images/logo.png"> -->
            </div>
            <a class="item">Placeholder</a>
        </div>
    </header>

    <!-- Load the applications main contents -->
    <div id="main" class="ui segment pushable">
        <div id="includes" class="pusher"></div>
    </div>

    <!-- Start footer for the application -->
    <footer></footer>
    <script src="./index.js" type="text/javascript"></script>
</body>

</html>