<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Commercebox Dashboard</title>
    <link href="../../../public/css/semantic/semantic.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Start header for the application -->
    <header>
        <div class="ui stackable menu inverted">
            <div class="item">
                Logo
                <!-- <img src="/images/logo.png"> -->
            </div>
            <a class="item">Features</a>
            <a class="item">Testimonials</a>
            <a class="item">Sign-in</a>
        </div>
    </header>

    <!-- Load the applications main contents -->
    <include include-html="./dashboard/dashboard.html"></include>

    <!-- Start footer for the application -->
    <footer>
        <script src="../../../public/js/index.js"></script>
    </footer>
</body>

</html>