<div class="ui basic segment inverted">
    <div class="ui grid">
        <div class="three wide column">
            <include include-html="../shared/search/search.html"></include>
        </div>
        <div class="thirteen wide column">
            <div style="float: right;">
                <button id="edit" class="ui primary button">Edit</button>
                <button id="create" class="ui orange button">Create</button>
                <button id="link" class="ui default button">Link</button>
                <button id="sync" class="ui green button">Sync</button>
            </div>
        </div>
    </div>
</div>