<!-- <div class="ui grid"></div> -->
<div class="ui segment inverted">
    <h2 class="ui header">
        Hello from dashboard
    </h2>
    <div class="ui hidden divider"></div>
    <div class="ui grid">
        <include include-html="./main/dashboard/card/card.html"></include>
        <include include-html="./main/dashboard/card/card.html"></include>
        <include include-html="./main/dashboard/card/card.html"></include>
        <include include-html="./main/dashboard/card/card.html"></include>
    </div>
</div>